.card{
    top:5%;
    position: relative;
    height: 400px;
    width:400px;
   margin: 10px;
}
.card img{
    margin-top: 5px;
    height:100%;
    width:100%;
    border-radius: 30px;
}
.card .images{
    position: absolute;
     height:200px;
     width:80%;
    left:10%;
    right:10%;
}
.details{
    position: absolute;
    top:210px;
    height:150px;
    border-radius: 30px;
    box-shadow:  0 8px 32px 0 rgba(51, 87, 105, 0.37);
    width:80%;
    left:10%;
    right:10%;
    text-align: center;
}
.name{
    font-size: 25px;
    font-weight: 600;
}
.card_btn{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color:#000075;
    border: 0;
    border-radius: 30px;
    width:50%;
    position: relative;
    left:25%;
    right:25%;
    margin:10px;
}
.card_btn:hover{
    box-shadow:  0 4px 20px 0 #000075;
}
@media (max-width:630px) {
    .card{
        margin-left: 10px;
        height: 400px;
        width:60%;
    }
    
}

