.content{
    position: absolute;
    width:97%;
    left: 1.5%;
    right:1.5%;
    top:200px;
}
.category{
    top:100px;
    position: fixed;
    top:150px;
    width:15%;
    height: 400px;
    grid-template-columns: 1fr;
}
.category button{
    padding: 5px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    color:#000075;
    border-radius: 30px;
    margin: 20px;
}
.category button:hover{
    box-shadow:  0 4px 20px 0 #000075;
}
.content .content_cards{
    left:20%;
    position: absolute;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}
@media (max-width:1062px) {
    .content .content_cards{
        grid-template-columns: 1fr;
    }
}
