.cart_content{
    position: absolute;
    top:150px;
    width: 80%;
    left:10%;
    right:10%;
    
}
.cart_content .carts
{
    height:200px;
    width:50%;
    left:25%;
    right:25%;
    position: relative;
    border-radius: 30px;
    box-shadow:  0 8px 32px 0 rgba(51, 87, 105, 0.37);
    margin:20px;
    
}
.continueshop_btn {
    position: relative;
    margin: 40px;
    text-align: center;
}
.continueshop_btn  button{
    cursor:pointer;
    font-size: 20px;
    border-radius: 25px;
    border:0;
    padding:5px;
    font-weight: 600;
    color:#000075;
}
.continueshop_btn button:hover{
    box-shadow:  0 4px 20px 0 #000075;
}
.cart_item{
    position: absolute;
    background-color: aqua;
    height:200px;
    width:80%;
    border-radius: 30px;
    box-shadow:  0 8px 32px 0 rgba(51, 87, 105, 0.37);
}
.carts img{
    margin: 10px;
    height: 80%;
    border-radius: 30px;
    width: 40%;
}
.carts h3{
    position: relative;
    bottom: 18%;
    left:10%;
}
.carts .plus_btn{
    position: relative;
    font-size: 30px;
    border-radius: 45%;
    border:0;
}
.carts .minus_btn{
    position: relative;
    font-size: 30px;
    border-radius: 45%;
    border:0;
}
.carts .carts_btn{
    position: relative;
    bottom:80%;
    left:50%;
}
.quantity{
    margin: 10px;
    font-size: 20px;
    width:50px;
    border-radius: 30px;
    color:#fff;
    background-color: #000075;
}
.cart_price{
    position: relative;
    font-size: 25px;
    bottom:75%;
    padding: 5px;
    left:60%;
    box-shadow:  0 4px 20px 0 #000075;
    border-radius: 30px;
}
.total_price h1{
    text-align: center;
}
.remove_btn{
    border:0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    padding: 5px;
    position: relative;
    margin-left:20px;
}